[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
psycopg2= "*"
django= "==2.1"
paho-mqtt= "==1.4.0"
channels= "==2.1.6"
channels-redis= "==2.3.2"


[dev-packages]



[requires]
python_version = "3.7"
